## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np
from random import randint

In [10]:
population = []
for i in range(6):
    population.append(randint(1000, 10000))
data = {'國家': ['China', 'India', 'United States', 'Indonesia', 'Brazil','Taiwan']}
data['人口'] = population
data = pd.DataFrame(data)
data

     人口             國家
0  9562          China
1  8499          India
2  7247  United States
3  8747      Indonesia
4  2572         Brazil
5  5695         Taiwan

#### 求人口數最多的國家

In [22]:
data['國家'].iloc[data['人口'].idxmax()]

'China'